/* All set to important to ensure the SERP styles are never overwritten by a surrounding container */

.serp-preview-container-desktop {
    width: 600px !important;
    font: normal 17px / 1.5em "Montserrat", sans-serif !important;
    -webkit-text-size-adjust: 100% !important;
    color: #3e4348 !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 0.9411764706rem !important;
    list-style: none !important;
    text-align: left !important;
    font-family: arial, sans-serif !important;
    letter-spacing: initial !important;
    box-sizing: border-box !important;
    scrollbar-width: thin !important;
    scrollbar-color: #b0b0b2 #eff2f5 !important;
    line-height: 1.2em !important;
    position: relative !important;
    background: #fff !important;
}

.serp-preview-container-mobile {
    width: 360px !important;
    font: normal 17px / 1.5em "Montserrat", sans-serif !important;
    -webkit-text-size-adjust: 100% !important;
    color: #3e4348 !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 0.9411764706rem !important;
    list-style: none !important;
    text-align: left !important;
    font-family: arial, sans-serif !important;
    letter-spacing: initial !important;
    box-sizing: border-box !important;
    scrollbar-width: thin !important;
    scrollbar-color: #b0b0b2 #eff2f5 !important;
    line-height: 1.2em !important;
    position: relative !important;
    background: #fff !important;
}

.serp-preview-url {
    font: normal 17px / 1.5em "Montserrat", sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    list-style: none !important;
    text-align: left !important;
    font-family: arial, sans-serif !important;
    letter-spacing: initial !important;
    line-height: 1.2em !important;
    box-sizing: border-box !important;
    scrollbar-width: thin !important;
    scrollbar-color: #b0b0b2 #eff2f5 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: #5f6368 !important;
    font-size: 14px !important;
    cursor: pointer !important;
    max-width: 100% !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    margin-top: 2px !important;
}

.serp-preview-title {
    -webkit-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
    list-style: none !important;
    text-align: left !important;
    font-family: arial, sans-serif !important;
    letter-spacing: initial !important;
    box-sizing: border-box !important;
    scrollbar-width: thin !important;
    scrollbar-color: #b0b0b2 #eff2f5 !important;
    color: #1a0dab !important;
    min-height: 20px !important;
    font-size: 22px !important;
    line-height: 1.3 !important;
    cursor: pointer !important;
    display: inline-block !important;
    max-width: 600px !important;
    margin-top: 18px !important;
    margin-bottom: 3px !important;
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, sans-serif !important;
    font-weight: 400 !important;
    padding-top: 5px !important;
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

.serp-preview-mobile-title{
    color-scheme: light;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    font-size: 20px;
    line-height: 26px;
    font-family: Google Sans,Roboto,Helvetica Neue,sans-serif;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    padding-top: 1px;
    margin-bottom: -1px;
    color: #681da8;
}

.serp-preview-description {
    -webkit-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
    list-style: none !important;
    text-align: left !important;
    letter-spacing: initial !important;
    box-sizing: border-box !important;
    scrollbar-width: thin !important;
    scrollbar-color: #b0b0b2 #eff2f5 !important;
    color: #4d5156 !important;
    font-size: 14px !important;
    line-height: 1.58 !important;
    font-weight: normal !important;
    font-family: Arial, sans-serif !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
}