{% extends "base.html" %}

{% block title %}Anmelden{% endblock %}
{% block content %}


<!-- Page Title -->
<div class="page-title dark-background" data-aos="fade" style="background-image: url(../static/assets/img/page-title-bg.jpg);">
    <div class="container position-relative">
      <h1>Willkommen</h1>
      <p>Registrieren Sie sich oder melden Sie sich an, um alle Funktionen nutzen zu können.</p>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{url_for('login')}}" style="color: #fff; font-weight: bold;font-size: x-large;">Anmelden</a></li>
          <li><a href="{{url_for('signup')}}" style="font-weight: bold; font-size: x-large;">Registrieren</a></li>
        </ol>
      </nav>
    </div>
</div><!-- End Page Title -->

<section id="login-signup-section" class="login-signup-section section">

  <div class="container">

    <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-5 quote-bg" style="background-image: url(../static/assets/img/quote-bg.jpg);"></div>

      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
        <form action="{{ url_for('login') }}" method="post" class="login-signup-form">
          <h3>Anmelden</h3>
          <p>Melde dich mit deiner Email und deinem Passwort an</p>

          <div class="row gy-4" style="flex-direction: column; align-items: center;">
            <div class="col-md-6" style="width: 80%;">
              <input type="text" name="email" placeholder="Email" required="required" autocomplete="email" style="width: 100%;">
            </div>

            <div class="col-md-6" style="width: 80%;">
              <input type="password" name="password" placeholder="Passwort" required="required" autocomplete="current-password" style="width: 100%;">
            </div>
            
            <div class="col-12" style="justify-content: center; display: flex;">
              <button type="submit" value="Login">Anmelden</button>
            </div>

            <div class="col-lg-12">
              <h4>Du hast noch kein Konto? <a href="{{ url_for('signup') }}">Jetzt registrieren</a></h4>
            </div>
          </div>
        </form>
      </div><!-- End Quote Form -->

    </div>

  </div>

</section><!-- Login Section -->

{% endblock %}