<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="f311211a-2351-405a-bfcb-dd5eb74e9abb" type="text/javascript" async></script>

  <!-- Google Ads -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3157743838672635"
     crossorigin="anonymous"></script>

  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>ASEOTOOL</title>
  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PDLXF0YFP4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PDLXF0YFP4');
  </script>

</head>

<body class="/-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="logo">
        <h1 class="sitename">ASEOTOOL</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="{% if request.endpoint == 'index' or request.endpoint == '' %}active{% endif %}">Home</a></li>
          <li><a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %}">About</a></li>
          <li><a href="{{ url_for('pricing') }}" class="{% if request.endpoint == 'pricing' %}active{% endif %}">Pricing</a></li>
          <li class="dropdown"><a href="#" class="{% if 'dropdown' in request.endpoint %}active{% endif %}"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#" class="{% if request.endpoint == 'dropdown1' %}active{% endif %}">Dropdown 1</a></li>
              <li class="dropdown">
                <a href="#" class="{% if 'deep_dropdown' in request.endpoint %}active{% endif %}">
              <span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
              <li><a href="#" class="{% if request.endpoint == 'deep_dropdown2' %}active{% endif %}">Deep Dropdown 2</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="{{ url_for('contact') }}" class="{% if request.endpoint == 'contact' %}active{% endif %}">Contact</a></li>
          {% if current_user.is_authenticated %}
            <li>
              <a class="btn-getstarted" href="{{ url_for('profile') }}">Hallo, {{ current_user.first_name }}!</a>
            </li>
            <li>
                <a class="btn-getstarted" href="{{ url_for('logout') }}"><i class="icon bi bi-box-arrow-right"></i>Logout</a>
            </li>
            {% else %}
            <li><a class="btn-getstarted" href="{{ url_for('login') }}">Anmelden</a></li>
            <li><a class="btn-getstarted" href="{{ url_for('signup') }}">Registrieren</a></li>
            {% endif %}
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    {% block content %} {% endblock %}

  </main>


{% block footer %}
  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">ASEOTOOL</span>
          </a>
            <p>Helping Google Love You Back</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <!-- empty placeholder -->
        <div class="col-lg-2 col-6 footer-links"> 
        </div>
        <!-- empty placeholder -->
        <div class="col-lg-2 col-6 footer-links">
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Kontakt</h4>
          <p>Vischerstraße 2</p>
          <p>70563 Stuttgart</p>
          <p>Germany</p>
          <p><strong>Email:</strong> <span>support@aseotool.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Quark GmbH</span></p>
    </div>

  </footer>

  {% endblock %}


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-circle-progress/dist/circle-progress.min.js" type="module"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>