{% extends "base.html" %}

{% block title %}Anmelden{% endblock %}
{% block content %}

 <!-- Page Title -->
 <div class="page-title dark-background" data-aos="fade" style="background-image: url(../static/assets/img/page-title-bg.jpg);">
  <div class="container position-relative">
    <h1>Contact</h1>
    <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li class="current">Contact</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<!-- Contact Section -->
<section id="contact" class="contact section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
      <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed/v1/place?q=vischerstraße+2+70563+stuttgart&key=AIzaSyC1uIyY1XEhDRp6JHUw1jo7wBP4naWmLRw" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><!-- End Google Maps -->

    <div class="row gy-4">

      <div class="col-lg-4">
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h3>Adresse</h3>
            <p>Vischerstraße 2, 70563 Stuttgart</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Rufen Sie uns an</h3>
            <p>+49 176 72730347</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Schreiben Sie uns</h3>
            <p>niklas.werthmann@mercedes-benz.com</p>
          </div>
        </div><!-- End Info Item -->

      </div>

        <div class="col-lg-8">
        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">

          <div class="col-md-6">
            <input type="text" name="name" class="form-control" placeholder="Ihr Name" required="">
          </div>

          <div class="col-md-6 ">
            <input type="email" class="form-control" name="email" placeholder="Ihre E-Mail" required="">
          </div>

          <div class="col-md-12">
            <input type="text" class="form-control" name="subject" placeholder="Betreff" required="">
          </div>

          <div class="col-md-12">
            <textarea class="form-control" name="message" rows="6" placeholder="Nachricht" required=""></textarea>
          </div>

          <div class="col-md-12 text-center">
            <div class="loading">Laden</div>
            <div class="error-message"></div>
            <div class="sent-message">Ihre Nachricht wurde gesendet. Vielen Dank!</div>

            <button type="submit">Nachricht senden</button>
          </div>

          </div>
        </form>
        </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- /Contact Section -->


<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 service-item d-flex">
        <div class="icon flex-shrink-0"><i class="fa-sharp fa-solid fa-s"></i></div>
        <div>
          <h4 class="title">Search</h4>
          <p class="description">Gain valuable insights into your website's performance and identify key areas that impact search engine rankings. Discover the best keywords to enhance your visibility and attract more visitors.</p>
          <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->
      
      <div class="col-lg-4 col-md-6 service-item d-flex">
        <div class="icon flex-shrink-0"><i class="fa-sharp fa-solid fa-e"></i></div>
        <div>
          <h4 class="title">Engine</h4>
          <p class="description">Leverage our automated tools to unlock untapped potential. We provide detailed recommendations to improve your website's performance and boost its visibility in search results.</p>
          <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->
      
      <div class="col-lg-4 col-md-6 service-item d-flex">
        <div class="icon flex-shrink-0"><i class="fa-sharp fa-solid fa-o"></i></div>
        <div>
          <h4 class="title">Optimization</h4>
          <p class="description">Enhance your website using advanced SEO techniques to ensure better indexing by search engines. Increase your chances of being discovered by your target audience effectively.</p>
          <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->
      

    </div>

  </div>

</section><!-- /Featured Services Section -->

<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
        <img src="../static/assets/img/about.jpg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
        <h3>Über uns</h3>
        <p>
          Quark steht für Quality, Universal, Automation, Results und Knowledge – unser Leitbild für erfolgreiche SEO-Optimierung.
        </p>
        <ul>
          <li>
          <i class="fa-sharp fa-solid fa-q" style="align-self: center;"></i>
          <div>
          <h5>Quality</h5>
          <p>Wir bieten höchste Qualität für eine nachhaltige und erfolgreiche Webpräsenz.</p>
          </div>
          </li>
          <li>
          <i class="fa-sharp fa-solid fa-u" style="align-self: center;"></i>
            <div>
            <h5>Universal</h5>
            <p>Unsere Lösungen sind vielseitig und plattformübergreifend einsetzbar.</p>
            </div>
          </li>
          <li>
          <i class="fa-sharp fa-solid fa-a" style="align-self: center;"></i>
          <div>
          <h5>Automation</h5>
          <p>Unsere automatisierten Prozesse sparen Ihnen wertvolle Zeit und Ressourcen.</p>
          </div>
          </li>
          <li>
          <i class="fa-sharp fa-solid fa-r" style="align-self: center;"></i>
          <div>
          <h5>Results</h5>
          <p>Wir legen den Fokus auf messbare und nachhaltige Erfolge.</p>
          </div>
          </li>
          <li>
          <i class="fa-sharp fa-solid fa-k" style="align-self: center;"></i>
          <div>
          <h5>Knowledge</h5>
          <p>Unser umfassendes SEO-Wissen sorgt für optimalen Traffic und Sichtbarkeit.</p>
          </div>
          </li>
        </ul>
      </div>          
    </div>
  </div>
</section><!-- /About Section -->

<!-- Faq Section -->
<section id="faq" class="faq section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span>Häufig gestellte Fragen</span>
    <h2>Häufig gestellte Fragen</h2>
    <p>Hier findest du Antworten auf die häufigsten Fragen zu unseren Dienstleistungen und Produkten.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-10">

        <div class="faq-container">

          <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Was ist Quark SEO und wie funktioniert es?</h3>
            <div class="faq-content">
                <p>Quark SEO ist ein fortschrittliches Tool zur Verbesserung deiner Online-Sichtbarkeit. Es analysiert umfassend die SEO-Elemente deiner Website und liefert dir präzise Empfehlungen zur Optimierung. So kannst du gezielt Schwachstellen beheben und deine Position in den Suchergebnissen nachhaltig verbessern.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Welche Funktionen sind im Freemium-Modell enthalten?</h3>
            <div class="faq-content">
              <p>Im Freemium-Modell sind die meisten Analysefunktionen kostenlos verfügbar. Um detaillierte Optimierungsvorschläge zu erhalten und weitere Funktionen freizuschalten, kannst du ein Upgrade auf die Premium-Version durchführen.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Wie unterscheiden sich die Analyse- und Optimierungsfunktionen?</h3>
            <div class="faq-content">
              <p>Die Analysefunktionen überprüfen die SEO-Aspekte deiner Website und identifizieren Verbesserungspotenziale. Die Optimierungsfunktionen liefern konkrete Vorschläge zur Verbesserung dieser Aspekte, die dir helfen, deine Website in Suchmaschinen sichtbarer zu machen.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Benötige ich SEO-Kenntnisse, um Quark SEO zu nutzen?</h3>
            <div class="faq-content">
              <p>Nein, Quark SEO ist so gestaltet, dass es sowohl für SEO-Neulinge als auch für erfahrene Anwender leicht verständlich ist. Unser Tool bietet dir klare Anleitungen und Erklärungen, sodass du auch ohne Vorkenntnisse deine Website optimieren kannst.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Wie schnell sehe ich Verbesserungen in meinem Ranking?</h3>
            <div class="faq-content">
              <p>Die Verbesserung des Suchmaschinenrankings hängt von vielen Faktoren ab, einschließlich der Umsetzung der Optimierungsvorschläge. In der Regel können erste Ergebnisse innerhalb weniger Wochen sichtbar werden, je nachdem wie stark die SEO-Maßnahmen sind und wie oft Suchmaschinen deine Website crawlen.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

        </div><!-- End Faq container -->

      </div>

    </div>

  </div>

</section><!-- /Faq Section -->

{% endblock %}
