{% extends "base.html" %}

{% block title %}Anmelden{% endblock %}
{% block content %}

<style>
  .header { /* On other sites these styles are only applied once scrolled*/
  --background-color: #23153c;
  padding: 10px 0;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
  #pricing{
    padding: 140px 0 60px 0;
  
  }
</style>

<!-- Pricing Section -->
<section id="pricing" class="pricing section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span>Pricing</span>
    <h2>Pricing</h2>
    <p>Choose the plan that best fits your needs. All plans include comprehensive SEO analysis to help you grow your website.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="pricing-item">
          <h3>Visitor</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-info-circle"></i> <span>No user account required</span></li>
              <li><i class="bi bi-check"></i> <span>Comprehensive SEO Audit</span></li>
              <li><i class="bi bi-check"></i> <span>Specific Improvement Recommendations</span></li>
              <li><i class="bi bi-check"></i> <span>Metadata & Content Analysis</span></li>
              <li><i class="bi bi-check"></i> <span>Accessibility & Technical Configuration</span></li>
              <li><i class="bi bi-check"></i> <span>SERP Preview</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Performance Metrics & Opportunities</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>AI Analysis</span></li>
            </ul>
          </ul>
            {% if current_user.role == 'premium' %}
            
            {% elif current_user.role == 'basic' %}
            
            {% else %}
            <a href="#" class="buy-btn">Your Plan</a>
            {% endif %}
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="pricing-item featured">
          <h3>Member</h3>
          <h4><sup>$</sup>0<span> / month</span></h4>
          <ul>
            <li><i class="bi bi-info-circle"></i> <span>User account required</span></li>
            <li><i class="bi bi-check"></i> <span>Comprehensive SEO Audit</span></li>
            <li><i class="bi bi-check"></i> <span>Progress tracking & charts</span></li>
            <li><i class="bi bi-check"></i> <span>Schedule regular analysis</span></li>
            <li><i class="bi bi-check"></i> <span>Email notifications</span></li>
            <li><i class="bi bi-check"></i> <span>Performance Metrics & Opportunities</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>AI Analysis</span></li>
            <li class="na"><i class="bi bi-x"></i> <span>Early access to new features</span></li>
          </ul>
          {% if current_user.role == 'premium' %}
            
          {% elif current_user.role == 'basic' %}
            <a href="#" class="buy-btn">Your Plan</a>
          {% else %}
            <a href="#" class="buy-btn">Log in to unlock</a>
          {% endif %}
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="pricing-item">
          <h3>Premium</h3>
          <h4><sup>$</sup>12<span> / month</span></h4>
          <ul>
            <li><i class="bi bi-info-circle"></i> <span>User account required</span></li>
            <li><i class="bi bi-check"></i> <span>Comprehensive SEO Audit</span></li>
            <li><i class="bi bi-check"></i> <span>AI Analysis</span></li>
            <li><i class="bi bi-check"></i> <span>Performance Metrics & Opportunities</span></li>
            <li><i class="bi bi-check"></i> <span>Early access to new features</span></li>
            <li><i class="bi bi-check"></i> <span>In-depth analysis of subpages</span></li>
            <li><i class="bi bi-check"></i> <span>Keyword Suggestions & Optimization</span></li>
            <li><i class="bi bi-check"></i> <span>Ad-free experience</span></li>
          </ul>
          {% if current_user.role == 'premium' %}
            <a href="#" class="buy-btn">Your Plan</a>
            {% elif current_user.role == 'basic' %}
            <a href="#" class="buy-btn">Upgrade to paid plan</a>
            {% else %}
            <a href="#" class="buy-btn">Log in &amp; subscribe</a>
          {% endif %}
        </div>
      </div><!-- End Pricing Item -->

    </div>

  </div>

</section><!-- /Pricing Section -->

<!-- Faq Section -->
<section id="faq" class="faq section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span>Häufig gestellte Fragen</span>
    <h2>Häufig gestellte Fragen</h2>
    <p>Hier findest du Antworten auf die häufigsten Fragen zu unseren Dienstleistungen und Produkten.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-10">

        <div class="faq-container">

          <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Was ist Quark SEO und wie funktioniert es?</h3>
            <div class="faq-content">
                <p>Quark SEO ist ein fortschrittliches Tool zur Verbesserung deiner Online-Sichtbarkeit. Es analysiert umfassend die SEO-Elemente deiner Website und liefert dir präzise Empfehlungen zur Optimierung. So kannst du gezielt Schwachstellen beheben und deine Position in den Suchergebnissen nachhaltig verbessern.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Welche Funktionen sind im Freemium-Modell enthalten?</h3>
            <div class="faq-content">
              <p>Im Freemium-Modell sind die meisten Analysefunktionen kostenlos verfügbar. Um detaillierte Optimierungsvorschläge zu erhalten und weitere Funktionen freizuschalten, kannst du ein Upgrade auf die Premium-Version durchführen.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Wie unterscheiden sich die Analyse- und Optimierungsfunktionen?</h3>
            <div class="faq-content">
              <p>Die Analysefunktionen überprüfen die SEO-Aspekte deiner Website und identifizieren Verbesserungspotenziale. Die Optimierungsfunktionen liefern konkrete Vorschläge zur Verbesserung dieser Aspekte, die dir helfen, deine Website in Suchmaschinen sichtbarer zu machen.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Benötige ich SEO-Kenntnisse, um Quark SEO zu nutzen?</h3>
            <div class="faq-content">
              <p>Nein, Quark SEO ist so gestaltet, dass es sowohl für SEO-Neulinge als auch für erfahrene Anwender leicht verständlich ist. Unser Tool bietet dir klare Anleitungen und Erklärungen, sodass du auch ohne Vorkenntnisse deine Website optimieren kannst.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

          <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>Wie schnell sehe ich Verbesserungen in meinem Ranking?</h3>
            <div class="faq-content">
              <p>Die Verbesserung des Suchmaschinenrankings hängt von vielen Faktoren ab, einschließlich der Umsetzung der Optimierungsvorschläge. In der Regel können erste Ergebnisse innerhalb weniger Wochen sichtbar werden, je nachdem wie stark die SEO-Maßnahmen sind und wie oft Suchmaschinen deine Website crawlen.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- End Faq item-->

        </div><!-- End Faq container -->

      </div>

    </div>

  </div>

</section><!-- /Faq Section -->

{% endblock %}
