{% extends "base.html" %}

{% block title %}Deine SEO Analyseergebnisse{% endblock %}
{% block content %}

<style>
  .header { /* On other sites these styles are only applied once scrolled*/
  --background-color: #23153c;
  padding: 10px 0;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
  #seo-analyse-container > .section {
    padding: 140px 0 60px 0;
  
  }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/seo-analytics-page.css') }}">
<!-- Serp Preview CSS File -->
<link href="{{ url_for('static', filename='assets/css/serp-preview.css') }}" rel="stylesheet">

<div id="seo-analyse-container">

  <!-- About Section -->
  <section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 position-relative align-self-center order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
        <div class="container">

          <div class="row gy-4 justify-content-center">
            <!-- Overall Rating -->
            <div class="col-lg-4 col-md-6 service-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="100" style="width: 100%;">
              <div class="icon flex-shrink-0" style="width: 200px; height: 200px; padding: 25px; box-sizing: border-box;">
                <circle-progress id="overallRatingCircle"></circle-progress>
              </div>
              <div>
                <h4 class="title">Gesamtergebnis</h4>
                <p id="overallRatingText" class="description"></p>
                  <a href="#services" class="readmore stretched-link"><span>Mehr erfahren</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Overall Rating -->
          
            <!-- Improvements -->
            <div class="col-lg-4 col-md-6 service-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200" style="width: 100%;">
              <div class="icon flex-shrink-0" style="width: 200px; height: 200px; padding: 25px; box-sizing: border-box;">
                <circle-progress id="improvementCircle"></circle-progress>
              </div>
              <div>
                <h4 class="title">Verbesserungsmöglichkeiten</h4>
                <p id="improvementCountText" class="description"></p>
                <a href="#" class="readmore stretched-link"><span>Mehr erfahren</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Improvements -->
          </div>            

        </div>
      </div>

      <div class="col-lg-6 content order-last order-lg-first mt-0 mb-0" data-aos="fade-up" data-aos-delay="100">
        <ul id="generalResults">
          <li style="margin-top: 35px;">
            <i class="bi bi-stopwatch i_tag_general_results"></i>
            <div>
              <h5 id="generalResultsResponseTimeTitle">Antwortzeit</h5>
              <p id="generalResultsResponseTimeText"></p>
            </div>
          </li>
          <li style="margin-top: 35px;">
            <i class="bi bi-file-code i_tag_general_results"></i>
            <div>
              <h5 id="generalResultsFileSizeTitle">Dateigröße</h5>
              <p id="generalResultsFileSizeText"></p>
            </div>
          </li>
          <li style="margin-top: 35px;">
            <i class="bi bi-body-text i_tag_general_results"></i>
            <div>
              <h5 id="generalResultsWordCountTitle">Wörter</h5>
              <p id="generalResultsWordCountText"></p>
            </div>
          </li>
          <li style="margin-top: 35px;">
            <i class="bi bi-images i_tag_general_results"></i>
            <div>
              <h5 id="generalResultsMediaCountTitle">Medien</h5>
              <p id="generalResultsMediaCountText"></p>
            </div>
          </li>
          <li style="margin-top: 35px;">
            <i class="bi bi-link i_tag_general_results"></i>
            <div>
              <h5 id="generalResultsLinkCountTitle">Links</h5>
              <p id="generalResultsLinkCountText"></p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

  </section><!-- /About Section -->

  <section id="services" class="services section" style="padding-top: 30px;">

    <div class="container">

      <div class="row gy-4" style="justify-content: center;">

        <div class="col-lg-8 col-md-6" data-aos="fade-up" data-aos-delay="100" id="cardsContainer">

        </div>

      </div>

    </div>

  </section><!-- /Services Section -->
  <!-- Featured Services Section -->
  <section id="featured-services" class="featured-services section">

  <div class="container">
    <div class="row gy-4 justify-content-center" style="gap: 20px;">
      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200" style="align-self: center; margin: 0;">
        <div class="icon flex-shrink-0" style="width: 200px; height: 200px; padding: 25px; box-sizing: border-box;">
          <circle-progress id="serpRatingCircle"></circle-progress>
        </div>
        <div style="align-self: center;">
          <h4 class="title">SERP Vorschau</h4>
          <p class="description">SERP steht für <strong>S</strong>earch <strong>E</strong>ngine <strong>R</strong>esults <strong>P</strong>age und zeigt, wie Ihre Webseite in den Suchergebnissen erscheint.</p>
          <a href="#" class="readmore stretched-link"><span>Mehr erfahren</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex flex-column" data-aos="fade-up" data-aos-delay="100" style="width: fit-content; align-self: center; margin: 0;">
        <h4 class="title">Desktop Ansicht</h4>
        <div class="serp-preview-container-desktop mb-5">
          <div class="serp-preview-url" id="serpPreviewDesktopURL"></div>
          <div class="serp-preview-title" id="serpPreviewDesktopTitle"></div>
          <div class="serp-preview-description" id="serpPreviewDesktopDescription"></div>
        </div>
        <h4 class="title">Mobile Ansicht</h4>
        <div class="serp-preview-container-mobile">
          <div class="serp-preview-url" id="serpPreviewMobileURL"></div>
          <div class="serp-preview-mobile-title" id="serpPreviewMobileTitle"></div>
          <div class="serp-preview-description" id="serpPreviewMobileDescription"></div>
        </div>
      </div>


        <!-- End Service Item -->
    </div>

  </div>

  </section><!-- /Featured Services Section -->

  <section class="featured-services section" id="screenshot-container">
    <div class="container" >
      <div class="row gy-4 justify-content-center" style="gap: 20px;">


        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200" style="align-self: center; margin: 0;">
          <div>
            <img id="screenshot" class="img-fluid rounded shadow" alt="screenshot of the analyzed website">
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200" style="align-self: center; margin: 0;">
          <div style="align-self: center;">
            <h4 class="title">Bildschirmfoto</h4>
            <p class="description">Bildschirmfoto deiner Webseite - aufgenommen von unserem Webdriver, mit dem wir diese analysiert haben.</p>
            <a href="#" class="readmore stretched-link"><span>Mehr erfahren</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->


      </div>
    </div>
    </section><!-- /Featured Services Section -->
  </div>

<script>
  const url = "{{ url }}";
  const uuid = "{{ uuid }}";
</script>

<script src="{{ url_for('static', filename='assets/js/api.js') }}"></script>

{% endblock %}
