{% extends "base.html" %}

{% block content %}

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.fog.min.js"></script>
  <script>
   document.addEventListener("DOMContentLoaded", function() {

    VANTA.FOG({
      el: "#background-canvas",
      mouseControls: false,
      touchControls: false,
      gyroControls: false,
      minHeight: window.innerHeight,
      minWidth: window.innerWidth,
      blurFactor: 0.2,
      speed: 0.80,
      zoom: 1.60,
      higlightColor: 0x0d42ff,
      midtoneColor: 0x0d42ff,
      lowlightColor: 0x0d42ff,
      baseColor: 0x23153c,
    });
    
    // Ensure position remains static
    document.getElementById("background-canvas").style.position = "static";

    // Initialize AOS
    AOS.init();
   });
  </script>

  <section>
   <div id="background-canvas"></div>
  </section>

  <section id="content-under-construction-page">
   <div class="container">
   <div class="row gy-4">
    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center mx-auto" data-aos="fade-up">
      <h3 data-aos="fade-right" data-aos-delay="100">This Site is Under Construction</h3>
      <h2 data-aos="fade-right" data-aos-delay="200">{% block title %}{% endblock %}</h2>
      <p class="under-construction-page-p" data-aos="fade-up" data-aos-delay="300">
        {% block text %}{% endblock %}
      </p>
    </div>
   </div>
   </div>
  </section>

  <style>
    .container .row {
      padding-left: 0.5em !important;
      padding-right: 0.5em !important;
    }

    #background-canvas {
      position: static !important;
    }

    #content-under-construction-page {
      position: relative !important;
      background: transparent !important;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 80vh;
      max-height: 80vh;
    }

    #content-under-construction-page h3 {
      color: #0d42ff;
      font-weight: 500;
    }

    #content-under-construction-page h2 {
      font-size: 4em;
      color: white;
      margin-bottom: 0.7em;
    }

    #url-form {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 1rem;
    }

    .under-construction-page-p {
      font-size: 1.2em;
      color: white;
      font-family: 'Poppins', sans-serif;
      margin-bottom:0;
    }

    @media (max-height: 700px) {
      h2 {
        font-size: 2.8em !important;
      }
      h3 {
        font-size: 1.5em !important;
      }
      .under-construction-page-p {
        font-size: 1em !important;
      }

    }

    @media (max-width: 500px) {
      h2 {
        font-size: 2.6em !important;
      }
      h3 {
        font-size: 1.5em !important;
      }
      .under-construction-page-p {
        font-size: 1em !important;
      }
    }
  </style>

{% endblock %}

{% block footer %}
{# empty block to suppress footer #}
{% endblock %}