.container .row {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.button-progress-bar {
  background-color: rgba(255, 255, 255, 0.3); /* semi-transparent white */
  height: 100%;
  transition: width 0.3s ease;
  z-index: 1;
}

.button-label {
  position: relative;
  z-index: 2;
}

#content-landing-page {
  position: relative !important;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
}

#content-landing-page h3 {
  color: #0d42ff;
  font-weight: 500;
}

#content-landing-page h2 {
  font-size: 4em;
  color: white;
  margin-bottom: 0.7em;
}

#url-form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

#url-input {
  flex: 7;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
}
#url-input,
#submit-button {
  box-sizing: border-box;
  margin: 0;
}

#submit-button {
  padding: 15px 30px;
  border-radius: 5px;
  flex: 3;
  background-color: #0d42ff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-button span.button-label {
  font-family: 'Poppins', sans-serif;
  display: inline-block;    
  line-height: 1.2;          /* one line’s height */
  max-height: 1.2em;       /* exactly one line */
  white-space: nowrap;
  overflow: clip;
  text-overflow: clip;
}

#progress-container {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  opacity: 0;
}

#progress-bar {
  height: 7px;
  width: 0;
  background-color: #0d42ff;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 0.3em;
}

#progress-description {
  color: white;
  margin-bottom: 0;
  font-size: smaller;
}

.landing-page-p {
  font-size: 1.2em;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-bottom:0;
}

@media (max-height: 700px) {
  h2 {
    font-size: 2.8em !important;
  }
  h3 {
    font-size: 1.5em !important;
  }
  .landing-page-p {
    font-size: 1em !important;
  }

}

@media (max-width: 500px) {
  h2 {
    font-size: 2.6em !important;
  }
  h3 {
    font-size: 1.5em !important;
  }
  .landing-page-p {
    font-size: 1em !important;
  }
}